@import url(./normalize.css);
@import url(./reset.css);

/* 기본 스타인 */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 본문 스타일 */
body {
  background-color: #ffc;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 900;
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner{
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background-color: pink;
  padding: 0 30px;
  height: 15vh;
}
/* 비주얼 */
.visual {
  background-color: orange;
  height: 10vh;
}
/* 메인 */
.main {
  background-color: lightgreen;
  display: flow-root;
  padding: 0 15px;
  height: 50vh;
}

.group{
  margin: 0 15px;
  float: left;
}
.group1{
  background-color: violet;
  width: 250px;
}
.group2{
  background-color: violet;
  width: 380px;
}
.group3{
  background-color: violet;
  width: 190px;
}

/* 슬로건 */
.slogan {
  background-color: skyblue;
  height: 10vh;
}
/* 푸터 */
.footer {
  background-color: gray;
}
.footer-inner {
  background: silver;
  height: 15vh;
}
